/data/*
/notebooks/
/reports/
/src/survey_analysis/comment_deidentification.py
.env

!/data/tags_8.yaml
!/data/example_data/coursera_survey_200rows.csv
!/data/example_data/example_survey_data_synthetic.csv

.DS_Store
__pycache__/

eggs/
.eggs/
*.egg-info/
*.egg

.ipynb_checkpoints
profile_default/
ipython_config.py
