/data/*
/notebooks/
/reports/
/src/survey_analysis/comment_deidentification.py
.env

!/data/tags_8.yaml

.DS_Store
__pycache__/

eggs/
.eggs/
*.egg-info/
*.egg

.ipynb_checkpoints
profile_default/
ipython_config.py
